@font-face {
   font-family: 'DIN Next LT Pro Regular';
   font-display: swap;
   src: url('file:///Users/dave/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-05-22_150537/fonts/DIN%20Next%20LT%20Pro%20Regular/font.ttf');
}
